{% extends "base.html" %}

{% block content %}
<div class="grid grid-cols-12 gap-4 md:gap-6 h-full min-h-0">
  <!-- Sidebar: conversations (projects + chats) -->
  {% include 'fragments/sidebar.html' %}

  <!-- Main chat area -->
  <section class="col-span-12 md:col-span-9 flex flex-col min-h-0">
    <!-- Top bar: provider + model selectors + centered title -->
    {% include 'fragments/header.html' %}
    
    <!-- Messages and Composer -->
    {% include 'fragments/conversation.html' %}
  </section>
</div>

<!-- All modal dialogs -->
{% include 'fragments/modals.html' %}

<!-- Main JavaScript functionality -->
{% include 'fragments/chat-script.html' %}
{% endblock %}

{% block extra %}{% endblock %}
